document.getElementById('booking-form').addEventListener('submit', function(event) {
    event.preventDefault();
    
    const name = document.getElementById('name').value;
    const id = document.getElementById('id').value;
    const seats = document.getElementById('seats').value;
    const date = document.getElementById('date').value;
    const company = document.getElementById('company').value;
    const discord = document.getElementById('discord').value;

    const message = `حجز جديد:
    اسم المسافر: ${name}
    رقم الهوية: ${id}
    عدد المقاعد: ${seats}
    تاريخ السفر: ${date}
    شركة النقل: ${company}
    اسم حساب الديسكورد: ${discord}`;

    sendToDiscord(message);
});

function sendToDiscord(message) {
    const webhookUrl = 'https://discord.com/api/webhooks/1277933355010232352/JvYIIWEYhDREvHAwgWsULbQl67I-YpAB5_SjQTUnZ3oN7g960pF8XJQE9ds7YeFKcrle'; // ضع رابط Webhook هنا

    fetch(webhookUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ content: message })
    })
    .then(response => response.json())
    .then(data => console.log('نجاح:', data))
    .catch(error => console.error('خطأ:', error));
}